layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane command="hx" name="Helix" focus=true {
        args "."
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
